<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="control-panel" href="/tabs/control-panel">
      <ion-icon aria-hidden="true" name="build"></ion-icon>
<!--      <ion-label>Control Panel</ion-label>-->
    </ion-tab-button>

    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
<!--      <ion-label>Home Panel</ion-label>-->
    </ion-tab-button>

    <ion-tab-button tab="settings" href="/tabs/settings">
      <ion-icon aria-hidden="true" name="settings"></ion-icon>
<!--      <ion-label>Settings</ion-label>-->
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
