<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>User Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="profile" [fullscreen]="true">
  <ion-card no-margin>
    <form [formGroup]="profileForm" autocomplete="off">
      <ion-input type="hidden" formControlName="id" value="{{user.id}}"></ion-input>
      <ion-card-content class="bg-profile">
        <label for="avatar" class="ion-margin-bottom">
          <ion-avatar class="ion-margin-bottom">
            <img src="{{user.avatar_path}}">
            <input type="file" id="avatar" style="display: none">
          </ion-avatar>
          Tap to add/change avatar
        </label>
        <h1 class="fw500">{{user.fullname}}</h1>
        <h2 color="light" margin-bottom>{{user.type}}</h2>

<!--        <ion-button icon-left color="secondary">-->
<!--          -->
<!--          <ion-icon name="photos"></ion-icon>-->
<!--          Edit / Add Avatar-->
<!--        </ion-button>-->
      </ion-card-content>
      <ion-grid fixed no-padding>
      <ion-row>
        <ion-col size="12" padding>

          <ion-list margin-bottom>
            <ion-list-header color="light">
              <ion-label class="fw700">General Information</ion-label>
            </ion-list-header>

            <ion-item>
              <ion-label color="dark" position="stacked">Firstname:</ion-label>
              <ion-input type="text" inputmode="text" placeholder="Firstname" formControlName="firstname" value="{{(user.firstname)?? ''}}"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label color="dark" position="stacked">Lastname:</ion-label>
              <ion-input inputmode="text" placeholder="Lastname" formControlName="lastname" value="{{(user.lastname)?? ''}}"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label color="dark" position="stacked">Username:</ion-label>
              <ion-input inputmode="text" placeholder="Username" formControlName="username" value="{{(user.username)?? ''}}"></ion-input>
            </ion-item><ion-item>
              <ion-label color="dark" position="stacked">Email:</ion-label>
              <ion-input inputmode="email" placeholder="name@example.com" formControlName="email" value="{{(user.email)?? ''}}"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label color="dark" position="stacked">Phone:</ion-label>
              <ion-input inputmode="tel" placeholder="+355 67 xxx xxxx" formControlName="phone" value="{{(user.phone)?? ''}}"></ion-input>
<!--              <ngx-intl-tel-input-->
<!--                      [enableAutoCountrySelect]="false"-->
<!--                      [enablePlaceholder]="true"-->
<!--                      [searchCountryFlag]="true"-->
<!--                      [selectFirstCountry]="false"-->
<!--                      [maxLength]="15"-->
<!--                      [phoneValidation]="true"-->

<!--              ></ngx-intl-tel-input>-->
            </ion-item>

            <ion-item>
              <ion-label color="dark">Country</ion-label>
              <ion-select formControlName="country" value="{{user.country}}">
                <ion-select-option  *ngFor="let country of countryData" value="{{country.name}}">{{country.name}}</ion-select-option>
              </ion-select>
            </ion-item>

            <ion-item>
              <ion-label color="dark">City</ion-label>
              <ion-select formControlName="city" value="{{user.city}}">
                <ion-select-option value="{{(user.city)?? ''}}">{{(user.city)?? ''}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>

          <ion-item>
            <ion-label color="dark" position="stacked">Address:</ion-label>
            <ion-input inputmode="text" placeholder="Ex.: Abey Road 5" formControlName="address" value="{{(user.address)?? ''}}"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label color="dark" position="stacked">Zip:</ion-label>
            <ion-input type="number" inputmode="number" placeholder="Zip code" formControlName="zip" value="{{(user.zip)?? ''}}"></ion-input>
          </ion-item>
          <ion-list>
              <ion-list-header color="light">
                <ion-label class="fw700">Password</ion-label>
              </ion-list-header>


              <ion-item>
                <ion-label color="primary">Old password:</ion-label>
                <ion-input autocomplete="off" type="teext" inputmode="text" placeholder="" formControlName="old_password" value="" style="-webkit-text-security: disc;"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label color="primary">New password:</ion-label>
                <ion-input type="text" inputmode="text" placeholder="" formControlName="password" value="" style="-webkit-text-security: disc;"></ion-input>
              </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
    </form>

    <ion-button size="large" expand="block" color="success" (click)="saveProfile(profileForm.value)">Save</ion-button>
<!--    Kerko per kte expandin-->
  </ion-card>
</ion-content>