<ion-content>
  <div class="flex-center h-100">
    <form>
      <ion-card>
        <ion-card-header>
          <ion-card-title color="success">Reset password </ion-card-title>
          <ion-card-subtitle color="success">Please insert your email!</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          <ion-list>
            <ion-item>
              <ion-label position="floating">New password</ion-label>
              <ion-input
                      #password
                      type="password"
                      name="password"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Confirm New Password</ion-label>
              <ion-input
                      #confirm
                      type="password"
                      name="confirm"
              ></ion-input>
            </ion-item>
            <ion-label
                    color="danger"
                    *ngIf="password.value !== confirm.value"
            >* Email is invalid</ion-label>
          </ion-list>

          <ion-button
                  type="submit"
                  color="success"
                  size="full"
                  (click)="passwordReset(password.value)"
          >Reset</ion-button>
        </ion-card-content>
      </ion-card>
    </form>
  </div>
</ion-content>
