<ion-content [fullscreen]="true" class="p-main">

  <div class="header">
    <ion-label class="main-lbl">Hello <br> <span class="green_text_gradient">{{user.firstname}} {{user.lastname}}!</span></ion-label>
  </div>

  <ion-card class="info-card" color="light-gray">
    <ion-card-header>
      <ion-card-title>Greenhouse</ion-card-title>
      <ion-card-subtitle>{{user.username}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <div class="flex-column">
        <ion-label class="info-label">Owner: <span>Sali Protopapa</span></ion-label>
        <ion-label class="info-label">Area: <span>50m</span></ion-label>
        <ion-label class="info-label">Location: <span>Rruga e Kavajes, Tirana, ALbania</span></ion-label>
      </div>
<!--      <ion-list>-->
<!--        <ion-item>Temperature is to high! Taking action...</ion-item>-->
<!--      </ion-list>-->

      <div class="home-card-footer">
        <ion-icon  color="danger" name="alert-circle"></ion-icon>
        <ion-label>Temperature is to high! Taking action...</ion-label>
      </div>
    </ion-card-content>

  </ion-card>

  <section id="monitor" class="flex-row flex-between">
    <app-monitoring-widget [type]="'temperature'"/>
    <app-monitoring-widget [type]="'air_humidity'"/>
    <app-monitoring-widget [type]="'soil_humidity'"/>
    <app-monitoring-widget [type]="'temperature'"/>
  </section>

  <app-logs-list/>
</ion-content>
