ion-content{
  .info-card{
    border-radius: 22px;
    margin: 2rem 0;
    width: 100%;
    .info-label{
      margin-bottom: 10px;
      span{
        font-weight: 500;
      }
    }
    .home-card-footer{
      display: flex;
      align-items: center;
      width: 100%;
      margin-top: 1rem;
      padding-top: 1rem;
      border-top: 1px solid black;

      ion-icon{
        font-size: 60px;
        margin-right: 10px;
      }

      ion-label{
        font-weight: 500;
      }
    }
  }

  #monitor{
    flex-wrap: wrap;
    margin: 1rem 0;
  }
}
