<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Modalities</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title color="success"><h3>Choose Modality</h3></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button id="add-modality" color="success">New Modality</ion-button>
      <ion-list>
        <ion-item>
          <ion-select placeholder="Select Modality"
          (ionChange)="changeModality($event)">
            <ion-select-option *ngFor="let m of modalities" value="{{m.id}}">{{m.name}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>  

  <ion-card>
    <ion-card-header>
      <ion-card-title color="success"><h3>Current Modality</h3></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="6"><h1 class="me-3">Name:</h1></ion-col>
          <ion-col size="6" class="text-start"><h1>{{modality.name}}</h1></ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6"><h1 class="me-3">Description:</h1></ion-col>
          <ion-col size="6" class="text-start"><h1>{{modality.description}}</h1></ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6"><h1 class="me-3">Temperature:</h1></ion-col>
          <ion-col size="6" class="align-baseline"><h1>{{modality.min_temperature+'°C - '+modality.max_temperature + '°C'}}</h1></ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6"><h1 class="me-3">Air humidity:</h1></ion-col>
          <ion-col size="6" class="text-start"><h1>{{modality.min_air_humidity+'% - '+modality.max_air_humidity+'%'}}</h1></ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6"><h1 class="me-3">Soil Humidity:</h1></ion-col>
          <ion-col size="6" class="align-baseline"><h1>{{modality.min_soil_humidity+'% - '+modality.max_soil_humidity+'%'}}</h1></ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>

  </ion-card>


  <ion-modal trigger="add-modality" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button color="danger" (click)="cancel()">Cancel</ion-button>

          </ion-buttons>
          <ion-title>Add Modality</ion-title>
          <ion-buttons slot="end">
            <ion-button color="success" (click)="confirm()" [strong]="true">Confirm</ion-button>

          </ion-buttons>
        </ion-toolbar>
        <ion-note>*Please fill all the fields</ion-note>
      </ion-header>
<!--      <form [formGroup]="modalityForm">-->
        <ion-content class="ion-padding">
        <ion-item>
          <ion-label position="stacked">Name</ion-label>
          <ion-input #name type="text" placeholder="Modality Name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Short Description</ion-label>
          <ion-input #desc type="text" placeholder="Modality Description"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Min Temperature</ion-label>
          <ion-input #minTemp type="number" placeholder="Minimal Temperature"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Max Temperature</ion-label>
          <ion-input #maxTemp type="number" placeholder="Maximal Temperature"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Min Air Humidity</ion-label>
          <ion-input #minAir type="number" placeholder="Minimal Air Humidity"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Max Air Humidity</ion-label>
          <ion-input #maxAir type="number" placeholder="Maximal Air Humidity"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Min Soil Humidity</ion-label>
          <ion-input #minSoil type="number" placeholder="Minimal Soil Humidity"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Max Soil Humidity</ion-label>
          <ion-input #maxSoil type="number" placeholder="Maximal Soil Humidity"></ion-input>
        </ion-item>
          <ion-button (click)="ok({greenhouse_id: gid, bot_id: bid, name: name.value, description: desc.value,min_temperature: minTemp.value, max_temperature:maxTemp.value, min_air_humidity: minAir.value, max_air_humidity:maxAir.value, min_soil_humidity:minSoil.value, max_soil_humidity:maxSoil.value})" >Save</ion-button>
      </ion-content>
<!--      </form>-->
    </ng-template>
  </ion-modal>

</ion-content>
