#taskList{
  ion-list{
    ion-list-header{
      padding: 0;
      ion-card-header{
        padding: 1rem 0;
      }
    }
    .list-header{
      margin-bottom: 20px;
    }
    ion-item{
      --inner-padding-end: 0;
    }
  }
}
