<section id="taskList">
  <ion-list>
    <ion-list-header>
      <ion-card-header>Your tasks</ion-card-header>
    </ion-list-header>
    <div class="list-header flex-row flex-between ">
      <ion-label class="sub-lbl">Name</ion-label>
      <ion-label class="sub-lbl">Status</ion-label>
    </div>
    <ion-item class="w-full no-ion-padding">
      <div class="flex-row flex-between w-full">
        <ion-label class="w-50 sub-lbl">Lorem ipsum torum se si paget...</ion-label>
        <ion-badge color="success" slot="start">Completed</ion-badge>
      </div>
    </ion-item>
    <ion-item class="w-full no-ion-padding">
      <div class="flex-row flex-between w-full">
        <ion-label class="w-50 sub-lbl">Lorem ipsum torum se si paget...</ion-label>
        <ion-badge color="success" slot="start">Completed</ion-badge>
      </div>
    </ion-item>
    <ion-item class="w-full no-ion-padding">
      <div class="flex-row flex-between w-full">
        <ion-label class="w-50 sub-lbl">Lorem ipsum torum se si paget...</ion-label>
        <ion-badge color="success" slot="start">Completed</ion-badge>
      </div>
    </ion-item>
    <ion-item class="w-full no-ion-padding">
      <div class="flex-row flex-between w-full">
        <ion-label class="w-50 sub-lbl">Lorem ipsum torum se si paget...</ion-label>
        <ion-badge color="success" slot="start">Completed</ion-badge>
      </div>
    </ion-item>
    <ion-item class="w-full no-ion-padding">
      <div class="flex-row flex-between w-full">
        <ion-label class="w-50 sub-lbl">Lorem ipsum torum se si paget...</ion-label>
        <ion-badge color="success" slot="start">Completed</ion-badge>
      </div>
    </ion-item>
    <ion-item class="w-full no-ion-padding">
      <div class="flex-row flex-between w-full">
        <ion-label class="w-50 sub-lbl">Lorem ipsum torum se si paget...</ion-label>
        <ion-badge color="success" slot="start">Completed</ion-badge>
      </div>
    </ion-item>
  </ion-list>
</section>
