<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title class="green_text_gradient">Control Panel</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Control Panel</ion-title>
    </ion-toolbar>
  </ion-header>

  <section id="main">
    <div class="mode-toggle">
      <ion-toggle [enableOnOffLabels]="true" labelPlacement="end">Automatize Greenhouse</ion-toggle>
      <div class="horizontal-divider"></div>
      <ion-label class="info-label">
        Enable to make processes automatic or disable to have control over them
      </ion-label>
    </div>
    <div class="select-container w-full flex-column flex-between">
      <ion-select shape="round" class="w-100" aria-label="modality" placeholder="Select Modality" fill="outline">
        <ion-select-option value="apple">First Modality</ion-select-option>
        <ion-select-option value="banana">Second Modality</ion-select-option>
        <ion-select-option value="orange">Third Modality</ion-select-option>
      </ion-select>
    </div>

    <ion-card class="info-card ion-no-margin" color="light-gray">
      <ion-card-header>
        <ion-card-title>Modality 1</ion-card-title>
      </ion-card-header>
      <ion-card-content class="flex-around flex-row">
        <ion-list>
          <ion-item color="none" class="flex-column flex-center">
            <ion-label>Temperature:</ion-label>
            <ion-label class="sub-lbl">36 - 40&#8451;</ion-label>
          </ion-item>
          <ion-item color="none" class="flex-column flex-center">
            <ion-label>Air Humidity:</ion-label>
            <ion-label class="sub-lbl">36 - 40%</ion-label>
          </ion-item>
          <ion-item lines="none" color="none" class="flex-column flex-center">
            <ion-label>Soil Humidity:</ion-label>
            <ion-label class="sub-lbl">36 - 40%</ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
    <div class="w-full">
      <ion-button color="water-blue" expand="block" fill="outline">Outline</ion-button>
    </div>

    <section id="manualCtrl" class="flex-row flex-around">
      <app-monitoring-widget type="control" control="pump"/>
      <app-monitoring-widget type="control" control="fan"/>
      <app-monitoring-widget type="control" control="sprayer"/>
      <app-monitoring-widget type="control" control="window"/>
      <app-monitoring-widget type="control" control="heater"/>
    </section>
  </section>
</ion-content>
