<ion-header>
    <ion-toolbar color="success">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Conrol Panel</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="ion-padding">
    <ion-card-header>
      <ion-card-title color="success"><h3>Heating Lamps</h3></ion-card-title>
    </ion-card-header>
    <ion-card-content>
<!--        <ion-label><ion-icon name="logo-stackoverflow"></ion-icon></ion-label>-->
        <i class="fa-solid fa-temperature-three-quarters fa-2xl"></i>
        <ion-toggle slot="end"></ion-toggle>
    </ion-card-content>
  </ion-card>  


  <ion-card class="ion-padding">
    <ion-card-header>
      <ion-card-title color="success"><h3>Ventilation</h3></ion-card-title>
    </ion-card-header>
    <ion-card-content>
<!--        <ion-label><ion-icon name="logo-stackoverflow"></ion-icon></ion-label>-->
        <ion-label><i class="fa-solid fa-fan fa-2xl"></i></ion-label>
        <ion-toggle slot="end"></ion-toggle>
    </ion-card-content>
  </ion-card>  

  <ion-card class="ion-padding">
    <ion-card-header>
      <ion-card-title color="success"><h3>Watering</h3></ion-card-title>
    </ion-card-header>
    <ion-card-content>
<!--        <ion-label><ion-icon name="logo-stackoverflow"></ion-icon></ion-label>-->
        <i class="fa-solid fa-faucet-drip fa-2xl"></i>
        <ion-toggle slot="end"></ion-toggle>
    </ion-card-content>
  </ion-card>

    <ion-card class="ion-padding">
        <ion-card-header>
            <ion-card-title color="success"><h3>Conditioning</h3></ion-card-title>
        </ion-card-header>
        <ion-card-content>
<!--            <ion-label><ion-icon name="logo-stackoverflow"></ion-icon></ion-label>-->
            <i class="fa-solid fa-snowflake fa-2xl"></i>
            <ion-toggle slot="end"></ion-toggle>
        </ion-card-content>
    </ion-card>


    <ion-card class="ion-padding">
    <ion-card-header>
      <ion-card-title color="success"><h3>Spraying</h3></ion-card-title>
    </ion-card-header>
    <ion-card-content>
<!--        <ion-label><ion-icon name="logo-stackoverflow"></ion-icon></ion-label>-->
        <i class="fa-solid fa-pump-soap fa-2xl"></i>
        <ion-toggle slot="end"></ion-toggle>
    </ion-card-content>
  </ion-card>  
</ion-content>
